.scrollRight {
  position: fixed;
  right: 5vw;
  bottom: 4vh;
  width: 250px;
}

.scrollRight p {
  color: var(--bs-body-bg);
  margin-bottom: -10px;
  font-size: 1rem;
  letter-spacing: 5px;
}

.scrollRightIcon {
  stroke: #f2f2f2;
}

.section {
  height: 100vh;
  width: 100vw;
}

.containers {
  width: 90vw;
  height: 100vh;
}

h4 {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 4px;
  text-wrap: nowrap;
}

p {
  margin-bottom: 0;
}

.navbar {
  margin: 2vh 5vw;
}

#logo {
  width: clamp(12rem, 25vw, 20rem);
}

.navbarToggler {
  color: #f2f2f2;
  background: var(--bs-primary);
  padding: 0.8rem;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
  border: none;
}

.navbarToggler:hover {
  opacity: 0.6;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f58220;
}

#offcanvasNav {
  width: clamp(340px, 35vw, 500px);
  padding: 4vh 5vw 2vh 3vw;
  background: var(--bs-tertiary-bg);
}

#offcanvasNav .nav-item {
  font-size: 1.6rem;
}

.offcanvas-header .btn-close {
  padding: 0.8em;
  background-color: #F58220;
  border-radius: 50%;
  opacity: 1;
  font-size: 20px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}

.offcanvas-header .btn-close:hover {
  opacity: 0.6;
}

.dropdown {
  color: #333333;
}

.dropdown-menu .nav-item .nav-link {
  font-size: 1.1rem;
}

.socialsIcons {
  margin-right: 2vw;
  color: var(--bs-link-color);
  font-size: 25px;
}

.socialsIcons:hover {
  color: var(--bs-primary);
}

.servicesCol {
  height: 50vh;
  padding-bottom: 10vh;
}

@media (min-width: 768px) {
  .servicesCol {
    height: 100vh;
    padding-bottom: 10vh;
  }
}

.servicesCol h1 {
  color: var(--bs-body-bg);
  font-size: calc(2em + 2vw);
  font-weight: bold;
  text-wrap: nowrap;
}

.servicesInfo {
  width: 215px;
  height: 100px;
  z-index: 100;
  color: #000000;
}

.servicesInfo p {
  margin-bottom: 0;
  padding-right: 0px;
  margin-right: -2vw;
  font-size: 0.75rem;
  text-wrap: nowrap;
}

#footer {
  width: 100vw;
  background-color: var(--bs-body-bg);
}

@media (min-width: 992px) {
  #footer {
    min-height: 100vh;
    width: 100vw;
  }
}

footer h4 {
  color: var(--bs-primary);
  margin: 20px 0;
}

footer .nav-item {
  --bs-nav-link-padding-y: 0.2rem;
}

.footerRow1 {
  width: 90vw;
  margin: auto;
  padding: 7vh 10px;
}

.footerRow1 p {
  font-size: 0.9rem;
}

.footerRow1 .nav-link {
  text-transform: uppercase;
  color: #333333;
  padding-left: 0;
}

@media (min-width: 992px) {
  .footerRow1 .footerCol2 {
    margin-left: 6vw;
  }
}

.footerRow1 .footerColLeft img {
  height: 30px;
  margin-left: 20px;
}

.footerRow1 .footerColLeft div {
  margin: 2vh 0;
}

.footerRow2 {
  width: 100vw;
  height: 220px;
}

.footerRow2 p {
  color: #f2f2f2;
  font-size: 0.7rem;
}

.wilkenBox {
  background-color: var(--bs-primary);
}

.wilkenBox img {
  height: 70%;
}

.darkFooterCol {
  background: var(--bs-secondary);
  padding: 2vh 6vw 0;
  min-height: 200px;
}

@media (min-width: 992px) {
  .darkFooterCol {
    background: var(--bs-secondary);
    padding: 2vh 3vw 0 5vw;
    min-height: 200px;
  }
}

.darkFooterCol .nav-link {
  color: #f2f2f2;
  text-transform: uppercase;
  padding-left: 0;
}

.darkFooterCol .credits {
  margin-top: -8px;
}

.darkFooterCol .credits p {
  color: #999999;
  font-size: 0.5rem;
  display: inline;
}

@media (min-width: 768px) {
  .darkFooterCol .clientsBox img {
    max-height: 2.7vw;
  }
}

.darkFooterCol .clientsBox img {
  height: 7vw;
}

#fixedSevicesDiv {
  position: fixed;
  right: 0;
  bottom: 10vh;
  height: 140px;
  width: calc(240px + 5vw);
  background: rgb(242,242,242);
  padding: 12px 25px 0;
}

#fixedSevicesDiv h6 {
  color: var(--bs-primary);
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0;
}

#paginator {
  background: var(--bs-secondary);
  display: inline-block;
  border-radius: 50%;
  padding: 0.3em 0.4em;
  margin-right: 10px;
}

.paginator p {
  color: var(--bs-body-bg);
  font-size: 0.7rem;
  margin: 0;
}

.servicesWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.services {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  flex: 1 0 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

